<a
  href="#"
  class="collection-sidebar__heading{% if collapse_filter_groups %} closed{% endif %}"
  data-heading="{{ heading }}">
  <span data-sidebar-title>
    {% if heading contains 'Séjours' %}Filtrer les
    {% endif %}
    {{ heading }}{% if heading contains 'Séjours' %}
      :{% endif %}
  </span>
</a>