<div id="intervenants">
  <div class="two_col">

    <div>
      <h3>Vos intervenant.es</h3>
      {{ product.metafields.custom.intervenant_es | metafield_tag }}
    </div>
    <div class="img_tab">
      <figure>
        <img src="{{ product.metafields.custom.photos_intervenant_es | file_url }}">
      </figure>
    </div>

  </div>
</div>