<div id="intervenants">
  <div class="two_col">

    <div>
      {{ product.metafields.custom.intervenant_es | metafield_tag }}
    </div>
    <div>
      Image Intervenants
    </div>

  </div>
</div>