<section id="concept_themes">
  <div class="layout_thematiques">
    <!--- start col left --->
    <div class="left_col">
        <!--- yoga --->
        <div id="yoga" class="feature">
        <div class="image">
            <img class="image__img lazyautosizes lazyloaded" 
            src="https://cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-yoga-bien-etre-2.svg?v=1680858829" 
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="" >
        </div>
        <div class="desc_theme">
            <h4>Yoga & Bien-être</h4>
            <p>Maëva propose sa vision et sa pratique du yoga lors de séances accessibles à toutes, entre Méditation, Pranayama et Asana, en musique, dans le silence ou guidée par les koshis et bols tibétains. Sortir des cadres habituels du yoga pour s’autoriser à explorer, se (re)découvrir, comprendre et apprivoiser ses propres limites.</p>
            L’occasion idéale de tester sans pression ou de se perfectionner sans comparaison. Les mouvements sont adaptés à chaque corps et aux possibilités de chaque participante.
            Tout le matériel est fourni : tapis, bolsters, briques, sangles, couvertures… 
            En bonus, lorsque les conditions météorologiques le permettent, de belles séances de yoga sont proposées en pleine nature, au bord d’un lac d’altitude, en face de majestueux sommets ou face à l’océan.
            </p>
        </div>
        </div>
        <!--- ocean --->
        <div id="ocean" class="feature">
        <div class="image">
            <img class="image__img lazyautosizes lazyloaded" 
            src="https://cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-ocean-surf-2.svg?v=1680858877" 
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="" >
        </div>
        <div class="desc_theme">
            <h4>Océan & Surf</h4>
            <p>Véritable anti-stress, l’océan a le pouvoir de nous calmer et de nous apaiser. Contempler le mouvement des vagues, les écouter s’écraser contre les rochers, sentir le sable entre nos orteils et le vent sur notre visage, respirer l’air iodé. Des moments uniques aux vertus si apaisantes, aussi bien sur notre corps que sur notre esprit.
            Profitez d’un séjour Odenzia pour découvrir ou vous perfectionner en surf grâce aux conseils avisés d’un.e professionnel.le. Cette discipline est une forme de méditation, de part la concentration et l’ancrage qu’elle requiert. 
            « Quand je surfe, je ne pense plus à rien. Mon esprit fait le vide et je me focalise sur les ressentis de mon corps en contact avec la planche et l’eau. Plus que jamais, je vis le moment présent et je retrouve mon âme d’enfant ! » - Maëva, surfeuse débutante
            </p>
        </div>
        </div>
    </div>
    <!--- end col left --->

    <!--- start col right --->
    <div class="right_col">
        <!--- montagne --->
        <div id="montagne" class="feature">
        <div class="image">
            <img class="image__img lazyautosizes lazyloaded" 
            src="https://cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-montage-randonnee-2.svg?v=1680858945" 
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="" >
        </div>
        <div class="desc_theme">
            <h4>Montagne & Randonnée</h4>
            <p>Peu voire pas de réseau, pas de pollution sonore ou visuelle, la montagne a cette incroyable capacité à apaiser nos esprits et nos âmes. Notre flot de pensée et surtout notre rythme cardiaque se réduisent naturellement. Accompagnée d’un.e accompagnateur.trice montagne, vivez une véritable “Mountain Therapy” remplie d’air pur, de dépassement de soi, mais aussi de connexion à la nature. 
La randonnée est un moment fort d’introspection, mais également de partage. On marche côte à côte, on apprend à se connaître, les langues se délient et les liens se créent naturellement. Et puis, les émotions intenses se font ressentir : la fierté de s’être dépassée, l’émerveillement face à la beauté de la nature, la joie de partager ces instants uniques avec d’autres femmes et de se créer ensemble des souvenirs inoubliables.
            </p>
        </div>
        </div>
        <!--- étranger --->
        <div id="etranger" class="feature">
        <div class="image">
            <img class="image__img lazyautosizes lazyloaded" 
            src="https://cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-immersion-etranger-2.svg?v=1680859046" 
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="" >
        </div>
        <div class="desc_theme">
            <h4>Immersion à l'étranger</h4>
            <p>Depuis 2023, Odenzia propose de véritables immersions à l’étranger dans des destinations choisies avec beaucoup de soin. Des lieux coups de coeur, souvent inattendus, où richesse culturelle, diversité des paysages, connexion à la nature et authenticité locale sont au rendez-vous. Une déconnexion garantie et un dépassement de soi encore plus grand en quittant son quotidien et ses habitudes.
            </p>
        </div>
        </div>
        <!--- cuisine --->
        <div id="cuisine" class="feature">
        <div class="image">
            <img class="image__img lazyautosizes lazyloaded" 
            src="https://cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-cuisine-vegetale-2.svg?v=1680858696" 
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.0" data-sizes="auto" alt="" >
        </div>
        <div class="desc_theme">
            <h4>Cuisine végétale</h4>
            <p>Les séjours Odenzia sont l’occasion rêvée de se laisser surprendre par des goûts et des ingrédients méconnus à travers une cuisine végétarienne ou végétale, saine, colorée et gourmande. Le temps d’un week-end, mettez vos papilles en émoi grâce à un.e chef.fe passionné.e travaillant autant que possible avec des ingrédients bruts, frais, biologiques, de saison et locaux.
            </p>
        </div>
        </div>
    </div>
    <!--- end col right --->

  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Odenzia Thématiques",
  "tag": "section",
  "class": "section-dynamic section-borderable",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom_liquid.settings.custom_liquid.label"
    }
  ],
  "presets": [
    {
      "name": "Odenzia Thématiques"
    }
  ]
}
{% endschema %}