<div id="reassurance" class="shopify-section section-dynamic section-borderable">
  <section data-section-type="text-columns-with-images" class="section text-columns section--default section--bordered text-columns--alignment-center collection-list-grid--columns-4 animation animation--text-columns-with-images">
    <div class="text-columns__content grid-display grid-display--one-quarter">

      <div class="text-block text-columns__feature">
        <div class="mb3 w-100 text-columns__image db" style="max-width: 20%;">
          <div class="image image--40687538471240" style="">
            <img
              class="image__img lazyautosizes lazyloaded"
              src="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_300x300.svg?v=1678811297"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.0"
              data-sizes="auto"
              alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_180x.svg?v=1678811297 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_360x.svg?v=1678811297 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_540x.svg?v=1678811297 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_720x.svg?v=1678811297 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_900x.svg?v=1678811297 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1080x.svg?v=1678811297 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1296x.svg?v=1678811297 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1512x.svg?v=1678811297 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1728x.svg?v=1678811297 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_2048x.svg?v=1678811297 2048w"
              sizes="55px"
              srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_180x.svg?v=1678811297 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_360x.svg?v=1678811297 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_540x.svg?v=1678811297 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_720x.svg?v=1678811297 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_900x.svg?v=1678811297 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1080x.svg?v=1678811297 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1296x.svg?v=1678811297 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1512x.svg?v=1678811297 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_1728x.svg?v=1678811297 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-1_2048x.svg?v=1678811297 2048w">
            <div class="image__shimmer"></div>
          </div>
          <style>
            .image--40687538471240 {
              padding-top: 100.0%;
            }
          </style>
        </div>
        <h3
          class="text-block__item text-block__heading type-heading-1-small"
          data-theme-editor-setting="section.template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64.block.template--18287000387912__14ac884f-7c8a-4032-95a8-e27d61f55b64-1678811057313f18f9-0.title"
          style="max-width: 16em;">
          Agence de voyage certifiée</h3>
      </div>

      <div class="text-block text-columns__feature">
        <div class="mb3 w-100 text-columns__image db" style="max-width: 20%;">
          <div class="image image--40687538438472" style="">
            <img
              class="image__img lazyautosizes lazyloaded"
              src="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_300x300.svg?v=1678811296"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.0"
              data-sizes="auto"
              alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_180x.svg?v=1678811296 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_360x.svg?v=1678811296 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_540x.svg?v=1678811296 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_720x.svg?v=1678811296 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_900x.svg?v=1678811296 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1080x.svg?v=1678811296 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1296x.svg?v=1678811296 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1512x.svg?v=1678811296 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1728x.svg?v=1678811296 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_2048x.svg?v=1678811296 2048w"
              sizes="55px"
              srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_180x.svg?v=1678811296 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_360x.svg?v=1678811296 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_540x.svg?v=1678811296 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_720x.svg?v=1678811296 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_900x.svg?v=1678811296 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1080x.svg?v=1678811296 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1296x.svg?v=1678811296 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1512x.svg?v=1678811296 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_1728x.svg?v=1678811296 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-2_2048x.svg?v=1678811296 2048w">
            <div class="image__shimmer"></div>
          </div>
          <style>
            .image--40687538438472 {
              padding-top: 100.0%;
            }
          </style>
        </div>
        <h3
          class="text-block__item text-block__heading type-heading-1-small"
          data-theme-editor-setting="section.template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64.block.template--18287000387912__14ac884f-7c8a-4032-95a8-e27d61f55b64-1678811057313f18f9-1.title"
          style="max-width: 16em;">
          Accompagnement personnalisé</h3>
      </div>

      <div class="text-block text-columns__feature">
        <div class="mb3 w-100 text-columns__image db" style="max-width: 20%;">
          <div class="image image--40687538405704" style="">
            <img
              class="image__img lazyautosizes lazyloaded"
              src="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_300x300.svg?v=1678811296"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.0"
              data-sizes="auto"
              alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_180x.svg?v=1678811296 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_360x.svg?v=1678811296 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_540x.svg?v=1678811296 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_720x.svg?v=1678811296 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_900x.svg?v=1678811296 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1080x.svg?v=1678811296 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1296x.svg?v=1678811296 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1512x.svg?v=1678811296 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1728x.svg?v=1678811296 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_2048x.svg?v=1678811296 2048w"
              sizes="55px"
              srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_180x.svg?v=1678811296 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_360x.svg?v=1678811296 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_540x.svg?v=1678811296 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_720x.svg?v=1678811296 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_900x.svg?v=1678811296 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1080x.svg?v=1678811296 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1296x.svg?v=1678811296 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1512x.svg?v=1678811296 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_1728x.svg?v=1678811296 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-3_2048x.svg?v=1678811296 2048w">
            <div class="image__shimmer"></div>
          </div>
          <style>
            .image--40687538405704 {
              padding-top: 100.0%;
            }
          </style>
        </div>
        <h3
          class="text-block__item text-block__heading type-heading-1-small"
          data-theme-editor-setting="section.template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64.block.template--18287000387912__14ac884f-7c8a-4032-95a8-e27d61f55b64-1678811057313f18f9-2.title"
          style="max-width: 16em;">
          Séjours en groupe &amp; sur-mesure</h3>
      </div>

      <div class="text-block text-columns__feature">
        <div class="mb3 w-100 text-columns__image db" style="max-width: 20%;">
          <div class="image image--40687538667848" style="">
            <img
              class="image__img lazyautosizes lazyloaded"
              src="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_300x300.svg?v=1678811297"
              data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="1.0"
              data-sizes="auto"
              alt=""
              data-srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_180x.svg?v=1678811297 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_360x.svg?v=1678811297 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_540x.svg?v=1678811297 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_720x.svg?v=1678811297 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_900x.svg?v=1678811297 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1080x.svg?v=1678811297 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1296x.svg?v=1678811297 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1512x.svg?v=1678811297 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1728x.svg?v=1678811297 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_2048x.svg?v=1678811297 2048w"
              sizes="55px"
              srcset="//cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_180x.svg?v=1678811297 180w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_360x.svg?v=1678811297 360w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_540x.svg?v=1678811297 540w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_720x.svg?v=1678811297 720w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_900x.svg?v=1678811297 900w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1080x.svg?v=1678811297 1080w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1296x.svg?v=1678811297 1296w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1512x.svg?v=1678811297 1512w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_1728x.svg?v=1678811297 1728w, //cdn.shopify.com/s/files/1/0556/3839/3160/files/odenzia-reassurance-4_2048x.svg?v=1678811297 2048w">
            <div class="image__shimmer"></div>
          </div>
          <style>
            .image--40687538667848 {
              padding-top: 100.0%;
            }
          </style>
        </div>

        <h3
          class="text-block__item text-block__heading type-heading-1-small"
          data-theme-editor-setting="section.template--18491912651080__14ac884f-7c8a-4032-95a8-e27d61f55b64.block.20b4babd-51d7-48f8-bcc8-b2c675fef744.title"
          style="max-width: 16em;">
          Paiements sécurisés (CB, Mastercard &amp; en 3 fois)</h3>
      </div>

    </div>
    <style>
      #reassurance .text-block:not(:last-child):after {
        content: url('{{"odenzia-horizontal-line.svg"|asset_url}}');
        position: relative;
        top: -70%;
        left: 50%;
        transform: translate(20%, 0%);
        max-width: 20%;
      }
    </style>
  </section>
</div>